.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.content {
  cursor: pointer;
}
.container img {
  width: 185px;
}
.alterImg {
  display: flex;
  width: 185px;
  height: 278px;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
}
.title {
  max-width: 185px;
}
